
* {
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;

    
}

header {
  background-color:rgb(19, 19, 56);
  color: white;
  padding: 5px;
}

h2, 
h1.class {
    color:rgb(19, 19, 56);
    
}

p {
    font-size: 16px;
    padding-bottom: 40px;
    border-bottom: 4px solid black;
    font-weight: 100;
  }

.main {
    text-align: center;
}


input,
textarea,
select {
  font-size: 1em;
  color: black;
  font-weight: 300; 
  width: 100%;
  border: none;
  height: auto;
  padding: 15px;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

.area {
  width: 50%;
}

label {
  display: block;
  margin-bottom: 0.5em; 
}

input[placeholder="Required"] {
    text-align: right;
}