

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Merriweather Sans', sans-serif;

}
/* Header */

h1 {
  background-color: rgb(19, 19, 56);
  color: white;
  margin: 0;
  padding: 50px 30px;
}

/* paragraph  */
.first {
  text-align: center;
  border-right-width: 30px;
  border-left-width: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 4px;
  border-bottom: 10px double black;
  padding-bottom: 30px;
  
}

h1,
h2,
p {
  text-align: center;
  }

.contact {
  text-align: left;
  border-left-width: 2px;
  margin-left: 3px;

}

p {
  line-height: 1.5em;;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  font-size: 1em;
  color: black;
  font-weight: 300; 
  width: 100%;
  border: none;
  height: auto;
  padding: 15px;
  outline: 0;
  margin-top: 20px;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

label {
  margin-bottom: 2px;
}
 #code {
  width: 50%
 }

 .contact-info {
   border-bottom: 4px solid black;
   ;
 }

 .contact-info legend{
   padding-bottom: 20px;
 }


 .letter {
   
  padding-top: 20px;

 }


.news{
  border-top: 2px solid black;
  border-top-width: 3px;
  margin-top: 30px;
  padding-top: 30px;
  text-align: left;


}

.topics {
  text-align: left;
}


input[placeholder="Required"],
input[placeholder="123-45-678"]
 {
    text-align: right;
    font-style: italic;
  
}


input[type="checkbox"] + label.light {
    display: inline-block; 
  }
 

input[type="radio"] {
  padding-bottom: 5px;
}

input:focus {
  border: 2px solid  darkcyan;
}

fieldset {
  border: 0;
  }


legend {
  margin:0;
  padding:0;
  font-size: 20px;
}



.light {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding-bottom: 7px;
}



/* Bottom and footer  */

button {
  text-align: center;
  width: 100%;
  background-color: rgb(14, 222, 230);
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  border-style: none;
}

footer {

  padding-bottom: 300px;
  font-weight: 600;
}


/* Media query- tab/desktop */

@media screen and (min-width:768px) {

.flex {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  
  

}

.flex label {
  flex-basis: 25%;
}


.flex input, select {
  flex-basis: 75%;
}

.flex #code {
  flex-basis: 25%;
}

legend {

margin-top: 20px;
padding-top: 20px;
padding-bottom: 40px;

}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  margin-top: 5px;
}



}
