
body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;


}

* {
  box-sizing: border-box;
}

h1 {
  background-color: rgb(19, 19, 56);
  color: white;
  margin: 0;
  padding: 50px 30px;
}


p {
  text-align: center;
  border-right-width: 30px;
  border-left-width: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 4px;
  border-bottom: 10px double black;
  padding-bottom: 30px;
  
}

h1,
h2,
p {
  text-align: center;
  }

.contact {
  text-align: left;
  border-left-width: 2px;
  margin-left: 3px;

}



input,
textarea,
select {
  font-size: 1em;
  color: black;
  font-weight: 300; 
  width: 100%;
  border: none;
  height: auto;
  padding: 15px;
  outline: 0;
  margin-top: 20px;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

label {
  margin-bottom: 2px;
}
 .area {
  width: 50%;
  padding-bottom: 3em;
  border-width: 100%;
}


input[placeholder="Required"] {
    text-align: right;
    
}

input[placeholder="|"] {
  border: 2px solid darkblue;
}

